html, body {
    height: 100%;;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

ul {
    @include reset-list;
}

table {
    width: 100%;
}






// util styling......
.fs {
    &-8 {
        font-size: 8px;
    }
    &-10 {
        font-size: 10px;
    }
    &-12 {
        font-size: 12px;
    }
    &-15 {
        font-size: 15px;
    }
}

.d {
    &-block {
        display: block;
    }
    &-flex {
        display: flex;
        &-justify-content-end {
            justify-content: flex-end;
        }
        &-justify-content-start {
            justify-content: flex-start;
        }
        &-justify-content-center {
            justify-content: center;
        }
    }
    &-inline {
        display: inline;
    }
    &-inline-block {
        display: inline-block;
    }
}


.width {
    &-50 {
        width: 50px;
    }
    &-100 {
        width: 100px;
    }
    &-150 {
        width: 150px;
    }
    &-200 {
        width: 200px;
    }
    &-50p {
        width: 50%;
    }
    &-100p {
        width: 100%;
    }
}


.btn {
    &-lg {
        padding: 10px 50px !important;
        font-size: 18px;
    }
}