html, body {
    height: 100%;;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

ul {
    @include reset-list;
}

table {
    width: 100%;
}






// util styling......
.d {
    &-block {
        display: block;
    }
    &-flex {
        display: flex;
    }
    &-inline {
        display: inline;
    }
    &-inline-block {
        display: inline-block;
    }
}


.width {
    &-50 {
        width: 50px;
    }
    &-100 {
        width: 100px;
    }
    &-150 {
        width: 150px;
    }
    &-200 {
        width: 200px;
    }
    &-50p {
        width: 50%;
    }
    &-100p {
        width: 100%;
    }
}