
.featured-products {
    background-color: var(--bs-gray-200);
    padding: 50px 0;
    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        &-item {
            width: 300px;
        }
    }
}



.product-item {
    &-wrapper {
        background-color: var(--bs-gray-100);
        border: 1px solid var(--bs-gray-200);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;

        .image {
            // width: 100%;
            padding-top: 20px;
            height: 200px;
        }
        .name {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 20px 10px 0px 10px;
        }
        .action-item {
            width: 100%;
            padding: 0 10px 10px 10px;
            display: flex;
            justify-content: space-between;
            &_cart {
                margin: 0;
                padding: 0;
                border: none;
                color: var(--bs-blue);
                background-color: transparent;
                cursor: pointer;
            }
            &_price {
                color: var(--bs-blue);
            }
        }
    }

}