<div class="admin-sidebar">
    <h3 class="logo"><span>A</span>lligator</h3>
    <div class="links">
        <ul>
            <li>
                <a><i class="material-icons-outlined"></i>Dashboard</a>
            </li>
            <li>
                <a><i class="material-icons-outlined">done</i>Products</a>
            </li>
            <li>
                <a><i class="material-icons-outlined">done</i>Categories</a>
            </li>
            <li>
                <a><i class="material-icons-outlined">done</i>Order</a>
            </li>
            <li>
                <a><i class="material-icons-outlined">done</i>Users</a>
            </li>
            <li>
                <a class="logout"><i class="material-icons-outlined">logout</i>Logout</a>
            </li>
        </ul>
    </div>
</div>
