<div class="admin-sidebar">
    <h3 routerLink="/" class="logo"><span>A</span>lligator</h3>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/"><i class="material-icons-outlined">store</i>Dashboard</a>
            </li>
            <li>
                <a routerLink="/products"><i class="material-icons-outlined">done</i>Products</a>
            </li>
            <li>
                <a routerLink="/categories"><i class="material-icons-outlined">list</i>Categories</a>
            </li>
            <li>
                <a routerLink="/orders"><i class="material-icons-outlined">shop</i>Orders</a>
            </li>
            <li>
                <a routerLink="/users"><i class="material-icons-outlined">person</i>Users</a>
            </li>
            <li>
                <a class="logout" (click)="logout()"><i class="material-icons-outlined">logout</i>Logout</a>
            </li>
        </ul>
    </div>
</div>
