<div class="admin-page">
    <mat-card class="admin-page__card">
        <button routerLink="form" mat-raised-button color="primary"><i class="material-icons-outlined">add</i> Add New Category</button>
    </mat-card>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 admin-page__table">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef>Icon</th>
            <td mat-cell *matCellDef="let element">{{ element.icon }}</td>
        </ng-container>
       
        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef>Color</th>
            <td mat-cell *matCellDef="let element">{{ element.color }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <button class="mr-15" mat-raised-button color="warn" (click)="deleteCategory(element.id)"><i class="material-icons-outlined">delete</i></button>
                <button mat-raised-button color="primary" (click)="editCategory(element.id)"><i class="material-icons-outlined">edit</i></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
